#main{
    position: relative;
    top: 50px;
}
.container{
    background-color: rgba(229, 233, 236, 0.8);
    min-height: 1000px;

}

/* 隱藏輪播前後btn hover顯現 */
.carousel .carousel-control {
    opacity: 0;
}

.carousel:hover .carousel-control {
    opacity: 1;
}

/* 隱藏輪播指示器 hover顯現 */
.carousel .carousel-indicators {
    opacity: 0;
}

.carousel:hover .carousel-indicators {
    opacity: 1;
}

/*去除a標籤底線*/
a {
    text-decoration: none;
}

#gameTitleIcon {
    width: 50%;
}